/* Custom Stylesheet */

nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

#map,
#pano {
    float: left;
    height: 500px;
    width: 50%;
}


/* .formContainer {
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: white;
    margin-bottom: 100px;
} */

.input-field label {
    color: white!important;
}

.input-field input[type=text]:focus+label {
    color: #7ff!important;
}

.input-field input[type=number]:focus+label {
    color: #7ff!important;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #7ff!important;
    box-shadow: 0 1px 0 0 #5cd!important;
}

.input-field input[type=number]:focus {
    border-bottom: 1px solid #7ff!important;
    box-shadow: 0 1px 0 0 #5cd!important;
}

.input-field .prefix.active {
    color: #7ff;
}


/* Form Validation Styling */


/* .input-field input[type=text].valid {
    border-bottom: 1px solid greenyellow!important;
    box-shadow: 0 1px 0 0 darkgreen!important;
}

.input-field input[type=number].valid {
    border-bottom: 1px solid greenyellow!important;
    box-shadow: 0 1px 0 0 darkgreen!important;
}

.input-field input[type=text].invalid {
    border-bottom: 1px solid red!important;
    color: red!important;
    box-shadow: 0 1px 0 0 darkred!important;
}

.input-field input[type=number].invalid {
    border-bottom: 1px solid red!important;
    color: red!important;
    box-shadow: 0 1px 0 0 darkred!important;
} */