/* .header {
    text-shadow: 2px 2px 10px black!important;
} */

#formInstructions {
    margin-top: 50px;
}

.ourContainer {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

#map,
#pano {
    float: left;
    height: 500px;
    width: 50%;
}

#addFavorite {
    margin-top: 20px;
}

#mapDataSection {
    margin: 30px 30px 30px 30px;
    padding: 0;
}

#mapZone {
    padding: 0;
}

#dataZone {
    padding: 0;
    padding-left: 30px;
}

.topIcon {
    font-size: 30px;
    margin-left: 10px;
}

.collapsible-body {
    padding: 15px 20px 15px 20px;
}

.slogan {
    text-shadow: 2px 2px 3px black;
}

.formContainer {
    padding: 30px 20px 20px 10px;
    background-color: rgba(17, 14, 82, 0.4);
    margin-bottom: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#navLogo {
    height: 60px;
    padding-top: 5px;
    padding-left: 5px;
}

#loginLogo {
    display: block;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}

.loginPage {
    background: url("../images/sf.jpg");
    background-size: cover;
}

.delete {
    position: relative;
    top: 1.5px;
}


/* Form Colors Below */

.input-field label {
    color: white!important;
    text-shadow: 2px 2px 3px black;
}

.input-field input[type=text]:focus+label {
    color: #7ff!important;
    text-shadow: 2px 2px 3px black;
}

.input-field input[type=number]:focus+label {
    color: #7ff!important;
    text-shadow: 2px 2px 3px black;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #7ff!important;
    box-shadow: 0 1px 0 0 #5cd!important;
    text-shadow: 2px 2px 3px black;
}

.input-field input[type=number]:focus {
    border-bottom: 1px solid #7ff!important;
    box-shadow: 0 1px 0 0 #5cd!important;
    text-shadow: 2px 2px 3px black;
}

.input-field .prefix.active {
    color: #7ff;
    text-shadow: 2px 2px 3px black;
}

.input-field .prefix {
    text-shadow: 2px 2px 3px black;
}


/* Form Validation Styling */


/* .input-field input[type=text].valid {
    border-bottom: 1px solid greenyellow!important;
    box-shadow: 0 1px 0 0 darkgreen!important;
}

.input-field input[type=number].valid {
    border-bottom: 1px solid greenyellow!important;
    box-shadow: 0 1px 0 0 darkgreen!important;
}

.input-field input[type=text].invalid {
    border-bottom: 1px solid red!important;
    color: red!important;
    box-shadow: 0 1px 0 0 darkred!important;
}

.input-field input[type=number].invalid {
    border-bottom: 1px solid red!important;
    color: red!important;
    box-shadow: 0 1px 0 0 darkred!important;
} */


/* Template Styles */

nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}